<div style="position: absolute; width: 100%; height: 100vh; background: black; opacity: 0.9; z-index: -1; display: none; justify-content: center" id="loadingGifCustomerMap">
		<div class="align-self-center" style="width: 100px">
				<img class="img-responsive" alt="gif" src="/admin/assets_core/img/loading.gif" />
		</div>
</div>
<div class="dashbwrapper">
	<div class="allscrll chat-bottom-spacer" id="scrollBox">


		<div class="row pt-3 pl-3 title-divider">
			<div class="d-flex align-items-center">
				<a ng-click="toggleBookmark('Customer Map Activity','#/customerMap')" class="bookmark" ng-class="{'bookmark-disabled':getBookmarkIndex('Customer Map Activity') == -1}" href=""><span class="fa fa-bookmark"></span></a>
				&nbsp;<h3>{{Translate('Customer Map Activity')}} <span class="visible-print">{{Translate('for')}} {{AgentAsCustomerInfo.CustomerID | FormatCustomer}}</span></h3>
			</div>
		</div>
		<div class="data-filters hidden-print">
			<div class="row">
				<div class="col-xs-12">
					<h4>{{Translate('This data updates every week')}}</h4>
				</div>
				<div class="col-xs-6" ng-if="AgentAsCustomerInfo.AgentType == 'M'">
					<div class="form-inline">
						<div class="form-group no-padding" ng-if="AgentAsCustomerInfo.AgentType == 'M'">
							<label for="agentsnList">{{Translate('Choose an account:')}}</label>
							<div custom-select="t as (t.AgentId ) for t in AllAgentsList | filter : $searchTerm"
								 ng-model="$root.selectedAgent" ng-change="getData()"
								 id="agentsnList">
								<div>
									<span>{{ t.AgentBind }}</span>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<form class="form-inline">
						<div class="form-group">
							<label for="weekSelect">{{Translate('Choose week:')}}</label>
              <select class="form-control" ng-model="SelectedWeekNumber" ng-change="getData()" ng-options="wR.DateRange for wR in WeeksRange"></select>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div id="map" style="height: 400px"></div>
			</div>
		</div>
	</div>
</div>
