

<div class="modal-header">
	<b class="modal-title float-left" ng-bind="Translate('Communication')"></b>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">×</span>
	</button>
</div>
<div class="modal-body" style="height: 400px" ng-controller="communicationController">

	<div class="row">
		<div class="col-xs-4 col-lg-4">
			<select ng-options="ac as ac.Name for ac in availableCommunication" ng-model="commObj.selected" ng-change=""></select>
		</div>
		<div class="col-xs-8 col-lg-4">
			<input type="text" class="form-control form-control-ios-fix" id="Last" ng-model="commObj.value" ng-disabled="AgentInfo.EnableEditAccountsFlag != 'Y' || IsDisabled()" maxlength="150" placeholder="{{Translate('tel or email')}}">
		</div>
		<div class="col-xs-12 col-lg-4">
			<input type="button" class="form-control form-control-ios-fix" ng-disabled="AgentInfo.EnableEditAccountsFlag!= 'Y' || IsDisabled()" ng-click="addToGrid()" value="{{Translate('Add To Grid')}}">
		</div>
	</div>
	<div class="row mt-5">
		<table class="tablesaw summary" data-tablesaw-sortable data-tablesaw-mode="swipe" data-tablesaw-minimap>
			<thead class='header'>
								<tr>
										<th>{{Translate('Name')}}</th>
										<th>{{Translate('Value')}}</th>
										<th>{{Translate('Action')}}</th>
								</tr>
			</thead>
			<tbody>
								<tr ng-repeat="cl in commList  track by $index" table-saw>
										<td>
												<span ng-bind="cl.Name"></span>
										</td>
										<td>
												<span ng-bind="cl.Value"></span>
										</td>
										<td>
												<button ng-click="deleteAgentCommunicationTypes(cl.Id)">{{Translate('Delete')}}</button>
										</td>
								</tr>
			</tbody>
		</table>
	</div>
	<div class="row" ng-if="commObj.selected.Name == 'Telegram'">
		<div class="col-xs-12 d-grid mt-5">
			<span>✓ {{Translate('To get ChatID just write this command in any chat window in telegram @userinfobot')}}</span>
			<span>✓ {{Translate('To get messages from the bot, go here https://t.me/GBSMonitor_bot, or')}}</span>
			<span>✓ {{Translate('Go to Telegram and send a message to @GBSMonitor_bot')}}</span>
		</div>
	</div>
</div>
