<div class="dashbwrapper">
  <div class="allscrll chat-bottom-spacer" id="scrollBox">
    <div class="row pt-3 pl-3 title-divider">
      <div class="d-flex align-items-center">
        <a ng-click="toggleBookmark('Beat the line','#/beatTheLine')" class="bookmark" ng-class="{'bookmark-disabled':getBookmarkIndex('Beat the line') == -1}" href=""><span class="fa fa-bookmark"></span></a>
        &nbsp;<h3>{{Translate('Beat the line')}} <span class="visible-print">{{Translate('for')}} {{AgentAsCustomerInfo.CustomerID | FormatCustomer}}</span></h3>
      </div>
    </div>
    <div class="row my-3" ng-if="AgentAsCustomerInfo.AgentType == 'M'">
      <div class="col-xs-12">
        <form class="form-inline">
          <div class="form-group">
            <div class="no-padding">
              <label for="agentsnList">{{Translate('Choose an agent:')}}</label>
              <div custom-select="t as (t.AgentId ) for t in AllAgentsList | filter : $searchTerm"
                   ng-model="$root.selectedAgent" ng-change="GetAgentPlayers($root.selectedAgent.AgentId)"
                   id="agentsnList">
                <div>
                  <span>{{ t.AgentBind }}</span>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-inline">
        <div class="form-group">
          <label class="" for="ddSport" ng-bind="Translate('Sport') + ':'"></label>
          <select id="ddSport" class="form-control custom-dropdown"
                  ng-options="sport.SportType for sport in Sports"
                  ng-model="SelectedSport"
                  ng-change="sportChanged()">
          </select>
        </div>
        <div class="form-group">
          <label class="" for="ddSport" ng-bind="Translate('Sub Sport') + ':'"></label>
          <select id="ddSport" class="form-control custom-dropdown"
                  ng-options="subSport.SportSubType for subSport in subSports"
                  ng-model="selectedSubSport"
                  ng-change="getData()">
          </select>
        </div>
        <!--div-- class="form-group">
          <label class="" for="ddSport" ng-bind="Translate('Wager Type') + ':'"></label>
          <select id="ddSport" class="form-control custom-dropdown"
                  ng-options="wagerType.name for wagerType in wagerTypes"
                  ng-model="selectedWagerType"
                  ng-change="getData()">
          </select>
        </div-->
        <div class="form-group">
          <label class="" for="ddSport" ng-bind="Translate('Line Type') + ':'"></label>
          <select id="ddSport" class="form-control custom-dropdown"
                  ng-options="lineType.name for lineType in lineTypes"
                  ng-model="selectedLineType"
                  ng-change="filterData()">
          </select>
        </div>
        <div class="form-group form-group">
          <label for="agentsnList">{{Translate('Choose a player:')}}</label>
          <div custom-select-options="{ 'async': true }" custom-select="t as (t.label ) for t in searchAsync($searchTerm) | filter : $searchTerm"
               ng-model="selection.customer" ng-change="changePlayer()"
               id="agentsnList">
            <div>
              <span>{{ t.label }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="data-filters hidden-print">
      <div class="col-xs-12 col-lg-2">
        <div class="form-inline">
          <div class="form-group mr-4">
            <label for="startDateInput" class="mt-4 mr-3">{{Translate('Start Date')}}</label>
            <div class="date-picker">
              <input id="startDateInput" type="text" class="form-control form-control-ios-fix" ng-model="Filters.startDate" name="filterDate" />
            </div>
          </div>
          <div class="form-group">
            <label for="endDateInput" class="mt-4 mr-3">{{Translate('End Date')}}</label>
            <div class="date-picker">
              <input id="endDateInput" type="text" class="form-control form-control-ios-fix" ng-model="Filters.endDate" name="filterDate" />
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="table-wrapper table-responsive">
          <table datatable dt-instance="vm.dtInstance" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="custom-datatable">
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
