
<div ng-init="performance_type = 'general'" class="my-4">
  <ul class="nav nav-tabs px-4" ng-show="mode == 'dual'">
    <li role="presentation" ng-click="performance_type='general'" ng-class="{active: performance_type == 'general'}" class="active" style=""><a>{{Translate('General')}}</a></li>
    <li role="presentation" ng-click="performance_type='sport';getData()" ng-class="{active: performance_type == 'sport'}" class="" style=""><a>{{Translate('By Sport')}}</a></li>
    <li role="presentation" ng-click="performance_type='all';getData()" ng-class="{active: performance_type == 'all'}" class="" style=""><a>{{Translate('All')}}</a></li>
  </ul>
  <div class="tab-content  clearfix">
    <div class="tab-pane" ng-class="{active: performance_type == 'general'}">
      <div>
        <div class="data-filters"> 
          <div class="row" ng-if="customerId && version == 'full'">

            <div class="col-md-4 col-sm-3 col-xs-6 col-print-12 no-padding">
              <h3>
                <span ng-show="!customerId && version == 'full'" class="visible-print">{{GetPeriod(ReportFilters.PeriodRange)}} </span>
                <span class="visible-print">for {{AgentAsCustomerInfo.CustomerID | FormatCustomer}}</span>
                <span ng-show="customerId && version == 'modal'" class="center"
                      ng-bind="Translate('Performance for ') + (customerId | FormatCustomer)"></span>
              </h3>
              <div ng-show="AgentPerformance.length == 0" ng-bind="">{{Translate('No Info To Show')}}</div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-6 text-right no-padding">
              <form class="form-inline hidden-print hidden-md hidden-lg hidden-xl">
                <div class="form-group">
                  <label class="hidden-xs">{{Translate('Wager Type: ')}}</label>
                  <select class="form-control" ng-model="ReportFilters.WagerType" ng-change="wagerTypeChanged()">
                    <option value="" selected ng-bind="Translate('All')"></option>
                    <option value="S">{{Translate('Straight Bet')}}</option>
                    <option value="P">{{Translate('Parlay')}}</option>
                    <option value="T">{{Translate('Teaser')}}</option>
                    <option value="I">{{Translate('If Bet')}}</option>
                    <option value="VC">{{Translate('Virtual Casino')}}</option>
                    <option value="LC">{{Translate('Live Casino')}}</option>
                    <option value="UL">{{Translate('Ultimate Live')}}</option>
                    <option value="ML">{{Translate('Mega Live')}}</option>
                    <option value="H">{{Translate('Horses')}}</option>
                  </select>
                  <agent ng-if="AgentAsCustomerInfo.AgentType != 'A' && version == 'full'">
                    <label ng-if="AgentAsCustomerInfo.AgentType != 'A'">{{Translate('Agent:')}} </label>
                    <select ng-if="AgentAsCustomerInfo.AgentType != 'A'"
                            class="form-control"
                            ng-model="ReportFilters.AgentId"
                            ng-change="GetAgentPerformance(null, ReportFilters.AgentId)"
                            ng-options="(a) for a in AgentsList">
                    </select>

                    <div class="form-group">
                      <label for="aList">{{Translate('Choose agent:')}}</label>
                      <div custom-select="t as (t.AgentId ) for t in allAgentsList | filter : $searchTerm"
                           ng-model="ReportFilters.Agent" ng-change="GetAgentPerformance(null, ReportFilters.Agent.AgentId)"
                           id="aList">
                        <div>
                          <span>{{ t.AgentBind }}</span>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>

                  </agent>
                </div>
              </form>
            </div>

            <div class="col-lg-4 col-xs-12 text-right no-padding">
              <form class="form-inline hidden-print hidden-lg hidden-xl">
                <div class="form-group btn-performance">
                  <div class="btn-period-group" class="panel-collapse in" id="subSport_24_periods">
                    <input class="btn btn-small btn-period" ng-class="{active : ReportFilters.PeriodRange == 'D'}"
                           type="button" value="{{Translate('Daily')}}" ng-model="ReportFilters.PeriodRange"
                           ng-click="GetAgentPerformance('D', ReportFilters.AgentId)">
                    <input class="btn btn-small btn-period" ng-class="{active : ReportFilters.PeriodRange == 'W'}"
                           type="button" value="{{Translate('Weekly')}}" ng-model="ReportFilters.PeriodRange"
                           ng-click="GetAgentPerformance('W', ReportFilters.AgentId)">
                    <input class="btn btn-small btn-period" ng-class="{active : ReportFilters.PeriodRange == 'M'}"
                           type="button" value="{{Translate('Monthly')}}" ng-model="ReportFilters.PeriodRange"
                           ng-click="GetAgentPerformance('M', ReportFilters.AgentId)">
                    <input class="btn btn-small btn-period" ng-class="{active : ReportFilters.PeriodRange == 'Y'}"
                           type="button" value="{{Translate('Yearly')}}" ng-model="ReportFilters.PeriodRange"
                           ng-click="GetAgentPerformance('Y', ReportFilters.AgentId)">
                  </div>
                </div>
              </form>
              <div class="mb-4 hidden-lg hidden-xl hidden-print">
                <p>{{Translate('Highlight Net column figures to get total selected sum')}}</p>
                <strong>{{Translate('Total Selected: ')}}</strong>
                <input type="text" class="form-control custom-select" id="totalSelectedMobile" readonly>
              </div>
              <div onclick="window.print();" class="print-action hidden-print">
                <h3>Print this</h3>
                <div class="print-custom-icon fa-2x">
                  <i class="fas fa-print"></i>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="customer-card performance-ranges p-0 m-0">
              <span ng-bind="Translate('Daily')" ng-class="{active : ReportFilters.PeriodRange == 'D'}"
                    ng-click="GetAgentPerformance('D', ReportFilters.AgentId)"></span>
              <span ng-bind="Translate('Weekly')" ng-class="{active : ReportFilters.PeriodRange == 'W'}"
                    ng-click="GetAgentPerformance('W', ReportFilters.AgentId)"></span>
              <span ng-bind="Translate('Monthly')" ng-class="{active : ReportFilters.PeriodRange == 'M'}"
                    ng-click="GetAgentPerformance('M', ReportFilters.AgentId)"></span>
              <span ng-bind="Translate('Yearly')" ng-class="{active : ReportFilters.PeriodRange == 'Y'}"
                    ng-click="GetAgentPerformance('Y', ReportFilters.AgentId)"></span>
            </div>
          </div>
          <div class="col-xs-12">
            <form class="hidden-print w-100 mt-3">
              <div class="form-group d-none">
                <label class="mr-3">{{Translate('Wager Type: ')}}</label>
                <select class="form-control custom-dropdown m-0" ng-model="ReportFilters.WagerType"
                        ng-change="wagerTypeChanged()">
                  <option value="" selected ng-bind="Translate('All')"></option>
                  <option value="S">{{Translate('Straight Bet')}}</option>
                  <option value="P">{{Translate('Parlay')}}</option>
                  <option value="T">{{Translate('Teaser')}}</option>
                  <option value="I">{{Translate('If Bet')}}</option>
                  <option value="VC">{{Translate('Virtual Casino')}}</option>
                  <option value="LC">{{Translate('Live Casino')}}</option>
                  <option value="UL">{{Translate('Ultimate Live')}}</option>
                  <option value="ML">{{Translate('Mega Live')}}</option>
                  <option value="H">{{Translate('Horses')}}</option>
                </select>
                <agent ng-if="AgentAsCustomerInfo.AgentType != 'A' && version == 'full'">

                  <div class="form-group">
                    <label for="aList">{{Translate('Choose agent:')}}</label>
                    <div custom-select="t as (t.AgentId ) for t in allAgentsList | filter : $searchTerm"
                         ng-model="ReportFilters.Agent" ng-change="GetAgentPerformance(null, ReportFilters.Agent.AgentId)"
                         id="aList">
                      <div>
                        <span>{{ t.AgentBind }}</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </agent>
                <button ng-if="!IsMobile" class="btn btn-default ng-binding ml-3" ng-click="exportData()" ng-bind="Translate('Export Data')"></button>
              </div>
            </form>
          </div>
          <div class="col-xs-12 d-flex justify-content-center" ng-if="!IsMobile">
            <div>
              <p>{{Translate('Highlight Net column figures to get total selected sum')}}</p>
              <strong>{{Translate('Total Selected: ')}}</strong>
              <input type="text" class="form-control custom-select" id="totalSelectedDesktop" readonly>
            </div>
          </div>
        </div>

        <div class="row d-flex justify-content-center">
          <div class="col-xs-12 col-lg-12">
            <div class="data-component table-performance">

              <table class="tablesaw" cellpadding="0" cellspacing="0"
                     id="performanceTbl" ng-show="!LoadingReportData">
                <thead class='header'>
                    <tr>
                        <th style="text-align: center;" colspan="7" >{{Translate('SportsBooks')}}</th>
                        <th style="text-align: center;" colspan="6">{{Translate('Casino')}}</th>
                        <th style="text-align: center;" colspan="3">{{Translate('LiveBetting')}}</th>
						<th style="text-align: center;" colspan="4">{{Translate('Other')}}</th>
                    </tr>
                    <tr>
                        <th>{{Translate('Period')}}</th>



                        <th class="text-right">{{Translate('Net')}}</th>
                        <th class="text-right">{{Translate('Straight Bet')}}</th>
                        <th class="text-right">{{Translate('Parlay')}}</th>
                        <th class="text-right">{{Translate('Teaser')}}</th>
                        <th class="text-right">{{Translate('If Bet')}}</th>
						<th class="text-right">{{Translate('Contest')}}</th>
                        <th class="text-right">{{Translate('Virtual Casino')}}</th>
                        <th class="text-right">{{Translate('VIG Casino')}}</th>
                        <th class="text-right">{{Translate('VIP Casino')}}</th>
                        <th class="text-right">{{Translate('BTCasino')}}</th>
                        <th class="text-right">{{Translate('WMCasino')}}</th>
                        <th class="text-right">{{Translate('Evo Casino')}}</th>
                        <th class="text-right">{{Translate('Dynamic Live')}}</th>
                        <th class="text-right">{{Translate('EzLive')}}</th>
                        <th class="text-right">{{Translate('Horses')}}</th>
						<th class="text-right">{{Translate('PropBuilders')}}</th>
                        <th class="text-right">{{Translate('CockFight')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="aP in AgentPerformance" table-saw>
                        <td id="D{{$index}}"><span class="per-dates" ng-bind="DisplayPeriod(aP.period)"></span></td>




                        <td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.Net < 0}"
                            ng-bind="DisplayMyNumber(aP)"></td>
							 
                        <td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.StraightBet < 0}"
                            ng-bind="aP.StraightBet | formatNumber: false"></td>
                        <td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.Parlay < 0}"
                            ng-bind="aP.Parlay | formatNumber: false"></td>
                        <td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.Teaser < 0}"
                            ng-bind="aP.Teaser | formatNumber: false"></td>
                        <td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.IfBet < 0}"
                            ng-bind="aP.IfBet | formatNumber: false"></td>
						<td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.Contest < 0}"
                            ng-bind="aP.Contest | formatNumber: false"></td>
                        <td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.VirtualCasino < 0}"
                            ng-bind="aP.VirtualCasino | formatNumber: false"></td>
                        <td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.VIGCasino < 0}"
                            ng-bind="aP.VIGCasino | formatNumber: false"></td>
                        <td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.VIPCasino < 0}"
                            ng-bind="aP.VIPCasino | formatNumber: false"></td>
                        <td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.BTCasino < 0}"
                            ng-bind="aP.BTCasino | formatNumber: false"></td>
                        <td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.WMCasino < 0}"
                            ng-bind="aP.WMCasino | formatNumber: false"></td>
                        <td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.EvoCasino < 0}"
                            ng-bind="aP.EvoCasino | formatNumber: false"></td>
                        <td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.DynamicLive < 0}"
                            ng-bind="aP.DynamicLive | formatNumber: false"></td>
                        <td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.ezlive < 0}"
                            ng-bind="aP.ezlive | formatNumber: false"></td>

                        <td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.Horses < 0}"
                            ng-bind="aP.Horses | formatNumber: false"></td>
						<td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.PropsBuilders < 0}"
                            ng-bind="aP.PropsBuilders | formatNumber: false"></td>
						<td class="text-right cursor-pointer" id="N{{$index}}" ng-class="{'num_neg' : aP.CockFight < 0}"
                            ng-bind="aP.CockFight | formatNumber: false"></td>

                    </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td id="D" colspan="{{IsMobile ? '2' : '4'}}">
                      <form class="form-inline hidden-print hidden-xs">
                        <div class="form-group totalselected float-left">
                          <label>{{Translate('Total Selected')}} </label>
                          <input type="text" class="form-control" id="totalSelectedBottom" readonly>
                        </div>
                      </form>
                      <form class="form-inline hidden-print">
                        <div class="form-group totalselected">
                          <label>{{Translate('Total')}} </label>
                          <span ng-bind="Total | formatNumber: false"></span>
                        </div>
                      </form>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" ng-class="{active: performance_type == 'sport' || performance_type == 'all'}">
      <div class="row mt-3">


        <div class="col-xs-12 no-padding-print text-right" ng-show="performance_type == 'all'">
          <div class="date-picker">
            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 0; width: 100%">
              <b class="glyphicon glyphicon-calendar fa fa-calendar"></b><span></span>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="customer-card performance-ranges p-0 m-0">
            <span ng-bind="Translate('Daily')" ng-class="{active : PeriodRange == 'D'}"
                  ng-click="PeriodRange = 'D';getData()"></span>
            <span ng-bind="Translate('Weekly')" ng-class="{active : PeriodRange == 'W'}"
                  ng-click="PeriodRange = 'W';getData()"></span>
            <span ng-bind="Translate('Monthly')" ng-class="{active : PeriodRange == 'M'}"
                  ng-click="PeriodRange = 'M';getData()"></span>
            <span ng-bind="Translate('Yearly')" ng-class="{active : PeriodRange == 'Y'}"
                  ng-click="PeriodRange = 'Y';getData()"></span>
          </div>
        </div>
        <div class="col-xs-12" ng-if="!isCustomer">
          <label class="mr-3">{{Translate('Choose Agent')}}</label>
          <div custom-select="t as (t.AgentId ) for t in allAgentsList | filter : $searchTerm"
               ng-model="ReportFilters.Agent" ng-change="GetAgentPerformance(null, ReportFilters.Agent.AgentId)"
               id="aList">
            <div>
              <span>{{ t.AgentBind }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group mt-3 d-flex">
              <label ng-show="performance_type == 'sport'" class="" for="ddSport">{{Translate('Sport')}}:</label>
              <select ng-show="performance_type == 'sport'" id="ddSport" class="form-control custom-dropdown"
                      ng-options="sport.SportType for sport in Sports"
                      ng-model="SelectedSport"
                      ng-change="sportChanged()">
              </select>
              <label ng-show="performance_type == 'sport'" class="" for="ddSport">{{Translate('Sub Sport')}}:</label>
              <select ng-show="performance_type == 'sport'" id="ddSport" class="form-control custom-dropdown"
                      ng-options="subSport.SportSubType for subSport in subSports"
                      ng-model="selectedSubSport"
                      ng-change="getData()">
              </select>
            <button ng-if="!IsMobile" class="btn btn-default ng-binding" ng-click="exportData()" ng-bind="Translate('Export Data')"></button>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="table-wrapper table-responsive">
            <table datatable dt-instance="dtInstance" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="custom-datatable">
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
