<div style="position: absolute; width: 100%; height: 100vh; background: black; opacity: 0.9; z-index: -1; display: none; justify-content: center" id="loadingCustomerCounter">
  <div class="align-self-center" style="width: 100px">
    <img class="img-responsive" alt="gif" src="/admin/assets_core/img/loading.gif" />
  </div>
</div>
<div class="dashbwrapper">
  <div class="allscrll chat-bottom-spacer" id="scrollBox">
    <div class="row pt-3 pl-3 title-divider hidden-print">
      <div class="d-flex align-items-center">
        <a ng-click="toggleBookmark('Customer Counter','#/customerCounter')" class="bookmark" ng-class="{'bookmark-disabled':getBookmarkIndex('Customer Counter') == -1}" href=""><span class="fa fa-bookmark"></span></a>
        &nbsp;<h3>{{Translate('Customer Counter')}} <span class="visible-print">{{Translate('for')}} {{AgentAsCustomerInfo.CustomerID | FormatCustomer}}</span></h3>
      </div>
    </div>
    <div class="data-filters hidden-print">
      <div class="row">
        <div class="col-sm-6">
          <form class="form-inline">
            <div class="form-group">
              <label for="PeriodsInput">{{Translate('Reporting Period')}}</label>
              <select id="PeriodsInput" class="form-control" ng-model="selectedWeek" ng-change="getData()" ng-options="wR.DateRange for wR in WeeksRange"></select>
            </div>
          </form>
        </div>
        <div class="col-sm-6">
          <form class="form-inline" ng-if="AgentAsCustomerInfo.AgentType == 'M'">
            <div class="form-group">
              <label for="agentsnList">{{Translate('Choose an account:')}}</label>
              <div custom-select="t as (t.AgentId ) for t in AllAgentsList | filter : $searchTerm"
                   ng-model="$root.selectedAgent" ng-change="getData()"
                   id="agentsnList">
                <div>
                  <span>{{ t.AgentBind }}</span>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
		<div class="row my-5">
			<div class="col-xs-12" style="margin-bottom: 200px">

        <customer-counter table-data="tableData" totals="totals" ng-if="counterLoaded" ng-show="tableTab.selected == 1"></customer-counter>
        <div class="table-wrapper table-responsive" ng-show="tableTab.selected == 2">
        </div>
      </div>
    </div>
  </div>
</div>
