<div class="custom-datatable bg-white">
  <div class="row py-3 d-flex justify-content-center">
    <div class="customers-left">
      <div class="bg-white Flipped" style="position: sticky; top:48px; overflow-x: scroll; overflow-y: hidden">
        <div class="text-white bg-black p-3 customers-left-header Flipped" style="height: 60px;">
          <strong>{{Translate('Grand Total')}}</strong>
        </div>
      </div>
      <div class="p-3 d-flex odd">
        <span>{{Translate('TOTAL')}}</span>
      </div>

    </div>
    <div class="customers-right">
      <div style="overflow-x: scroll; position: sticky; top: 48px; z-index: 1" class="syncscroll Flipped" name="summaryTable">
        <div class="d-flex text-white bg-black Flipped customers-right-header">
          <strong class="m-3 text-center customer-table-column">
            <span ng-bind="GetWeekDayName(1)"></span>
            <br />
            <span ng-bind="GetDate(1)"></span>
          </strong>
          <strong class="m-3 text-center customer-table-column">
            <span ng-bind="GetWeekDayName(2)"></span>
            <br />
            <span ng-bind="GetDate(2)"></span>
          </strong><strong class="m-3 text-center customer-table-column">
            <span ng-bind="GetWeekDayName(3)"></span>
            <br />
            <span ng-bind="GetDate(3)"></span>
          </strong>
          <strong class="m-3 text-center customer-table-column">
            <span ng-bind="GetWeekDayName(4)"></span>
            <br />
            <span ng-bind="GetDate(4)"></span>
          </strong>
          <strong class="m-3 text-center customer-table-column">
            <span ng-bind="GetWeekDayName(5)"></span>
            <br />
            <span ng-bind="GetDate(5)"></span>
          </strong>
          <strong class="m-3 text-center customer-table-column">
            <span ng-bind="GetWeekDayName(6)"></span>
            <br />
            <span ng-bind="GetDate(6)"></span>
          </strong>
          <strong class="m-3 text-center customer-table-column">
            <span ng-bind="GetWeekDayName(0)"></span>
            <br />
            <span ng-bind="GetDate(0)"></span>
          </strong>
          <strong class="m-3 text-center customer-table-column">{{Translate('Total Week')}}</strong>
          <strong class="m-3 text-center customer-table-column">{{Translate('Payments')}}</strong>
          <strong class="m-3 text-center customer-table-column">{{Translate('Pending Bets')}}</strong>
          <strong class="m-3 text-center customer-table-column">{{Translate('Overall Figure')}}</strong>
        </div>
      </div>
      <div style="overflow-x: scroll; overflow-y: hidden" class="syncscroll bg-black hide-scroll" name="summaryTable">
        <div style="width: fit-content" class="d-flex odd">
          <span ng-if="AgentInfo.CloseDayOfWeek == 2" class="m-3 text-center customer-table-column d-flex justify-content-center" ng-bind="'(' + ReportTotals.PlaysCountMonday + ') ' + (ReportTotals.MON | formatNumber)" ng-class="{'num_pos' : ReportTotals.MON == 0, 'num_neg' : ReportTotals.MON < 0, 'num_pos' : ReportTotals.MON > 0}"></span>
          <span class="m-3 text-center customer-table-column d-flex justify-content-center" ng-bind="'(' + ReportTotals.PlaysCountTuesday + ') ' + (ReportTotals.TUE | formatNumber)" ng-class="{'num_pos' : ReportTotals.TUE == 0, 'num_neg' : ReportTotals.TUE < 0, 'num_pos' : ReportTotals.TUE > 0}"></span>
          <span class="m-3 text-center customer-table-column d-flex justify-content-center" ng-bind="'(' + ReportTotals.PlaysCountWednesday + ') ' +(ReportTotals.WED | formatNumber)" ng-class="{'num_pos' : ReportTotals.WED == 0, 'num_neg' : ReportTotals.WED < 0, 'num_pos' : ReportTotals.WED > 0}"></span>
          <span class="m-3 text-center customer-table-column d-flex justify-content-center" ng-bind="'(' + ReportTotals.PlaysCountThursday + ') ' +(ReportTotals.THU | formatNumber)" ng-class="{'num_pos' : ReportTotals.THU == 0, 'num_neg' : ReportTotals.THU < 0, 'num_pos' : ReportTotals.THU > 0}"></span>
          <span class="m-3 text-center customer-table-column d-flex justify-content-center" ng-bind="'(' + ReportTotals.PlaysCountFriday + ') ' +(ReportTotals.FRI | formatNumber)" ng-class="{'num_pos' : ReportTotals.FRI == 0, 'num_neg' : ReportTotals.FRI < 0, 'num_pos' : ReportTotals.FRI > 0}"></span>
          <span class="m-3 text-center customer-table-column d-flex justify-content-center" ng-bind="'(' + ReportTotals.PlaysCountSaturday + ') ' +(ReportTotals.SAT | formatNumber)" ng-class="{'num_pos' : ReportTotals.SAT == 0, 'num_neg' : ReportTotals.SAT < 0, 'num_pos' : ReportTotals.SAT > 0}"></span>
          <span class="m-3 text-center customer-table-column d-flex justify-content-center" ng-bind="'(' + ReportTotals.PlaysCountSunday + ') ' +(ReportTotals.SUN | formatNumber)" ng-class="{'num_pos' : ReportTotals.SUN == 0, 'num_neg' : ReportTotals.SUN < 0, 'num_pos' : ReportTotals.SUN > 0}" "></span>
          <span ng-if="AgentInfo.CloseDayOfWeek == 3" class="m-3 text-center customer-table-column d-flex justify-content-center" ng-bind="'(' + ReportTotals.PlaysCountMonday + ') ' + (ReportTotals.MON | formatNumber)" ng-class="{'num_pos' : ReportTotals.MON == 0, 'num_neg' : ReportTotals.MON < 0, 'num_pos' : ReportTotals.MON > 0}"></span>
          <span class="m-3 text-center customer-table-column d-flex justify-content-center" ng-bind="ReportTotals.Week | formatNumber" ng-class="{'num_pos' : ReportTotals.Week == 0, 'num_neg' : ReportTotals.Week < 0, 'num_pos' : ReportTotals.Week > 0}"></span>
          <span class="m-3 text-center customer-table-column d-flex justify-content-center" ng-bind="ReportTotals.OtherTran | formatNumber:false" ng-class="{'num_pos' : ReportTotals.OtherTran == 0, 'num_neg' : ReportTotals.OtherTran < 0, 'num_pos' : ReportTotals.OtherTran > 0}"></span>
          <a href="#/openbets"><span class="m-3 text-center customer-table-column d-flex justify-content-center" ng-bind="ReportTotals.PendingTotal | formatNumber" ng-class="{'num_neg' : ReportTotals.PendingTotal < 0, 'num_pos' : ReportTotals.PendingTotal > 0}"></span></a>
          <span class="m-3 text-center customer-table-column d-flex justify-content-center" ng-bind="ReportTotals.OverAllFigure | formatNumber" ng-class="{'num_neg' : ReportTotals.OverAllFigure < 0, 'num_pos' : ReportTotals.OverAllFigure > 0}"></span>
        </div>
      </div>
    </div>
  </div>
</div>