<div class="dashbwrapper">
  <div class="allscrll">
    <div class="row pt-3 pl-3 title-divider">
      <div class="d-flex align-items-center">
        <a ng-click="toggleBookmark('Contest Exposure','#/agentExposure')" class="bookmark" ng-class="{'bookmark-disabled':getBookmarkIndex('Contest Exposure') == -1}" href=""><span class="fa fa-bookmark"></span></a>
        &nbsp;<h3>{{Translate('Contest Exposure')}} <span class="visible-print">{{Translate('for')}} {{AgentAsCustomerInfo.CustomerID | FormatCustomer}}</span></h3>
      </div>
    </div>
    <div class="data-filters">
      <div class="row center-block">
        <div class="col-xs-2 no-padding">
          <div class="form-group" ng-show="AllActiveSubSports.length != 0">
            <label class="hidden-xs" for="ddSports" ng-bind="Translate('Contests')"></label>
            <select id="ddSports" class="custom-dropdown" ng-model="SelectedSubSport" ng-disabled="loadindingInfo"
                    ng-change="LoadInfo(SelectedSubSport.ContestType, SelectedSubSport.ContestType2, true)"
                    ng-options="aS.ContestType2.Title for aS in AllActiveSubSports"></select>
          </div>
        </div>

        <div class="col-xs-2 no-padding d-none">
          <label class="hidden-xs" for="ddSports" ng-bind="Translate('Filter By Date')"></label>
          <select id="ddSports" class="custom-dropdown" ng-model="SelectedDateFilterOption"
                  ng-options="d for d in ['Today', 'Yesterday']">
            <option value="" selected>All</option>
          </select>
        </div>
        <div class="col-xs-10 text-right no-padding">
          <div onclick="window.print();" class="print-action hidden-print">
            <h3>Print this</h3>
            <div class="print-custom-icon fa-2x">
              <i class="fas fa-print"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 ng-show="loadindingInfo == true && SelectedSports.length == 0" ng-bind="Translate('Loading...')"></h2>
    <h2 ng-show="loadindingInfo == false && SelectedSports.length == 0" ng-bind="Translate('No data')"></h2>

    <div class="data-component" ng-init="tabDisplay = 1">
      <div class="pg-report-cont">
        <div class="" ng-show="(ActiveSports == null || ActiveSports.length == 0)"
             ng-bind="Translate('No Info To Show')"></div>
        <div class="page-content inset">

          <div class="panel-group" id="gamesAccordion" ng-repeat="sSs in SelectedSports | filter: FilterLeagues"
               ng-show="SelectedSports.length != 0">
            <div class="panel panel-default" id="{{'agPos.' + sSs.SportType + '.' + sSs.SportSubType}}"
                 ng-show="sSs.PositionByGame != null">
              <div class="row">
                <div class="col-xs-3 bg-tertiary-color custom-table-title">
                  <a class="ng-binding" data-target="#subSport_{{$index}}" data-toggle="collapse"
                     data-parent="#gamesAccordion">
                    <span ng-bind="sSs.ContestType + ' ' + sSs.ContestType2"></span>
                  </a>
                </div>
                <div class="col-xs-9 custom-table-periods">
                  <select ng-show="IsMobile" ng-options="aP as aP.PeriodDescription for aP in sSs.AvailablePeriods" ng-model="sSs.SelectedPeriod" ng-change="LoadGamePeriodInfoFromGamePeriod(sSs, sSs.SelectedPeriod, $event)"></select>
                  <div ng-show="!IsMobile" ng-repeat="aP in sSs.AvailablePeriods" class="cursor-pointer"
                       ng-click="LoadGamePeriodInfoFromGamePeriod(sSs, aP, $event)"
                       ng-class="{ 'active': aP.Selected }"
                       id="{{'btn.' + sSs.SportType + '.' + sSs.SportSubType + '.' + aP.PeriodNumber}}">
                    <span>{{aP.PeriodDescription}} <i class="fa fa-chevron-right"></i></span>
                  </div>
                </div>
              </div>

              <div style="height: auto;" class="panel-collapse in" id="subSport_{{$index}}">


                <div class="wagertypetitle">
                  <div class="row">
                    <div class="col-sm-12 col-lg-12 col-xl-12 no-padding-right">
                      <div class="row">
                        <div class="col-xs-3 no-padding"></div>
                        <div class="col-xs-9 no-padding">
                          <div class="row">
                            <div class="col-xs-12 text-center text-xs-right wagertypetitle-divider no-padding-left pr-3" ng-show="IsMobile == false || tabDisplay == 1">
                              <div class="row d-flex">
                                <div class="col-xs-2 p-0 d-flex" ng-click="tabDisplay = tabDisplay == 1 ? 4 : tabDisplay - 1">
                                  <i class="fa fa-caret-left px-2 align-self-center hidden-lg"></i>
                                </div>
                                <div class="col-xs-8 text-align-center" ng-bind="Translate('Straights')"></div>
                                <div class="col-xs-2 p-0 d-flex justify-content-end" ng-click="tabDisplay = tabDisplay < 4 ? tabDisplay + 1 : 1">
                                  <i class="fa fa-caret-right px-2 align-self-center hidden-lg"></i>
                                </div>
                              </div>
                              <div class="row" ng-if="!showProfit">
                                <div class="col-xs-12 no-padding text-center">
                                  <span class="line_limit" data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="{{Translate('')}}">{{Translate('ML')}}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <ul class="bettinglines">
                  <li ng-repeat="pG in sSs.PositionByGame | filter: FilterGames">
                    <div class="gameTitle text-center-xs" ng-if="pG.IsTitle"
                         ng-bind="FormatDateTime(pG.ContestDateTimeString, 11, null, null)"></div>
                    <div class="gameLineInfo" ng-if="!pG.IsTitle">
                      <div class="row">
                        <div class="game-line col-sm-12 col-lg-12 col-xl-12 no-padding-right">
                          <div class="row">
                            <div class="col-xs-3 no-padding">
                              <span ng-bind="DisplayTeam(pG.ContestantData)"></span>
                            </div>
                            <div class="col-xs-9 no-padding">
                              <div class="row">
                                <div class="col-xs-12 wagertypetitle-divider-data no-padding-left" ng-show="IsMobile == false || tabDisplay ==1">
                                  <div class="row" ng-if="!showProfit">
                                    <div class="col-xs-12 no-padding text-center cursor-pointer" ng-bind="CalculateVolume(pG.ContestantData.straightsData)" ng-class="{'num_zero' : CalculateVolume(pG.ContestantData.straightsData) == 0}"
                                         ng-click="GetContestActionByLine(pG.ContestantData.straightsData.moneyData.ContestantNum, pG.ContestantData.ContestantName)"
                                         onclick="return false"
                                         data-toggle="modal"
                                         data-target="#ModalAgentPos"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade modal-wide modal-wide_agposition" id="ModalAgentPos">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title" ng-bind="Translate('Contest Position by Line for') + ' '  + (AgentInfo.AgentID | FormatCustomer)"></h1>
      </div>
      <div class="modal-body" ng-if="dataSource.length > 0">
        <open-bets source="dataSource"
                   show-header="false"
                   get-agent-parent="getAgentParent"
                   format-customer="formatCustomer"
                   format-date-time="FormatDateTime"
                   display-time-from-date="DisplayTimeFromDate"
                   is-mobile="IsMobile"
                   raw-agents-list="rawAgentsList"
                   add-session-data="addSessionData"
                   get-session-data="getSessionData"
                   customer-title="customerTitle"></open-bets>
      </div>
    </div>
  </div>
</div>