<ol ui-tree-nodes ng-model="agentsList">
	<li ng-repeat="node in agentsList" ui-tree-node>
		<div ui-tree-handle class="tree-node tree-node-content" data-drag-enabled="false">
			<div class="row">
				<div class="col-xs-4 col-lg-2 p-0">


					<span class="text-elipsis" title="{{node.AgentId | FormatCustomer }}">
						<a ng-click="toggle(this)" class="btn btn-success btn-xs hidden-xs" data-nodrag ng-if="node.children">
							<span class="glyphicon"
								  ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
						</a>
						<span ng-click="toggle(this)" class="hidden-lg" ng-if="!collapsed && node.children">-</span>
						<span ng-click="toggle(this)" class="hidden-lg" ng-if="collapsed && node.children">+</span>
						<span ng-click="OpenAgentManager(node.AgentId)" class="cursor-pointer">{{node.AgentId | FormatCustomer }}</span><br class="hidden-lg" />
						<small>({{node.Password}})</small>
					</span>
				</div>
				<div class="col-xs-4 col-lg-2 d-flex justify-content-start p-0">
					<span class="mr-3 align-self-center hidden-xs">
						{{('Bal' | Translate) + ': '}}
					</span>
					<span ng-class="{'num_zero' : node.CurrentBalance == 0, 'num_neg' : node.CurrentBalance < 0, 'num_pos' : node.CurrentBalance > 0}">
						{{(node.CurrentBalance | formatNumber)}}
					</span>
				</div>
				<div class="col-xs-4 col-lg-1 d-flex justify-content-start">
					<button type="button" ng-click="OpenAgentManager(node.AgentId)" class="btn btn-default hidden-lg" style=" width: 100px;">
						{{'Edit/Pay' | Translate}}
					</button>
					<button type="button" ng-click="OpenAgentManager(node.AgentId)" class="btn btn-default hidden-xs hidden-sm">
						{{'Settings & Payments' | Translate}}
					</button>
				</div>
			</div>
		</div>
		<agent-tree agents-list="node.children" open-agent-manager="OpenAgentManager" ng-class="{hidden: collapsed}"></agent-tree>
	</li>
</ol>
