<div style="position: absolute; width: 100%; height: 100vh; background: black; opacity: 0.9; z-index: -1; display: none; justify-content: center" id="scrollGif">
  <div class="align-self-center" style="width: 100px">
    <img class="img-responsive" alt="gif" src="/admin/assets_core/img/scroll_horizontal.gif" />
  </div>
</div>
<div class="dashbwrapper">
  <div id="customersDiv" class="allscrll chat-bottom-spacer">
    <div class="row pt-3 pl-3 title-divider">
      <div class="col-xs-12 no-padding">
        <div class="d-flex align-items-center">
          <a ng-click="toggleBookmark('Customer Maintenance','#/customers')" class="bookmark" ng-class="{'bookmark-disabled':getBookmarkIndex('Customer Maintenance') == -1}" href=""><span class="fa fa-bookmark"></span></a>
          &nbsp;<h3>{{Translate('Customer Maintenance')}} <span class="visible-print">{{Translate('for')}} {{AgentAsCustomerInfo.CustomerID | FormatCustomer}}</span></h3>
        </div>
      </div>
    </div>
    <div class="" ng-show="CustomerList.length == 0" ng-bind="">
      {{Translate('No Customers To Show')}}
    </div>
    <div class="row mb-4">

      <div class="col-xs-12">
        <form class="form-inline mt-5 hidden-print">
          <!--div class="form-group">
           <label class="hidden-xs">{{Translate('Filters')}}</label>
           <select class="form-control custom-select" ng-model="ReportFilters.CustomerStatus" ng-change="reFilter()">
            <option value="2">{{Translate('All')}}</option>
            <option value="1">{{Translate('Access')}}</option>
            <option value="0">{{Translate('Not access')}}</option>
           </select>
          </div-->
          <div class="form-group" ng-if="AgentAsCustomerInfo.AgentType == 'M'">
            <label for="agentsnList">{{Translate('Search agent:')}}</label>
            <div custom-select="t as (t.AgentId ) for t in AllAgentsList | filter : $searchTerm"
                 ng-model="$root.selectedAgent" ng-change="refreshData()"
                 id="agentsnList">
              <div>
                <span>{{ t.AgentBind }}</span>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="form-group">
            <label for="searchInput">{{Translate('Search customer:')}}</label>
            <input type="text" id="searchInput" ng-change="searchData()" ng-focus="setFocus($event)" ng-keypress="keyPress($event)" ng-model="ReportFilters.search" />
          </div>
        </form>
      </div>
      <div class="col-xs-12 col-lg-12 d-flex justify-content-end">
        <div class="customer-card m-3 mr-1">
          <span class="icon-cust-maint text-success"></span>
          <span class="d-numb mr-2" ng-bind="Players.ActivePlayers"></span>
          <span class="font-light">{{Translate('Access Enabled')}}</span>
        </div>
        <div class="customer-card m-3 mr-1">
          <span class="icon-cust-maint text-danger"></span>
          <span class="d-numb mr-2" ng-bind="Players.InactivePlayers"></span>
          <span class="font-light">{{Translate('Access Disabled')}}</span>
        </div>
      </div>
      <div class="col-xs-12 d-flex justify-content-center">
        <a href="#/addCustomer" ng-show="AgentInfo.AddNewAccountFlag == 'Y'"><button type="button" class="btn btn-success mt-4">{{Translate('Add Customers')}}</button></a>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-danger text-center">{{Translate('Warning: Changes to any of the parameters below are automatically saved.')}}</h3>
      </div>
    </div>

    <div class="custom-datatable bg-white">

      <div class="row py-3 d-flex justify-content-center">
        <div class="customers-left">
          <div class="bg-white Flipped" style="position: sticky; top:49px; overflow-x: scroll; overflow-y: hidden">
            <div class="text-white bg-black p-3 customers-left-header Flipped" style="height: 60px;">
              <strong>{{Translate('Customers')}}</strong>
            </div>
          </div>
          <div ng-repeat-start="cL in tableData track by $index" style="height: 60px" class="p-3 bg-black d-flex" ng-show="cL.isTitle">
            
          </div>
          <div class="p-3 d-flex" ng-class="{'even' : $index % 2 == 0, 'odd' : $index % 2 != 0}" ng-repeat-end>
            <a href="#" onclick="return false;" class="customer-table-button"
               ng-click="ShowCustomerDialog(tableData[$index], 8, cL.CustomerId)">{{AgentAsCustomerInfo.IsAffiliate ? '***' + cL.CustomerId.trim().substring(cL.CustomerId.trim().length - 4, cL.CustomerId.trim().length) : cL.CustomerId}}</a>
          </div>

        </div>
        <div class="customers-right">
          <div style="overflow-x: scroll; position: sticky; top: 49px; z-index: 1" class="syncscroll Flipped" name="customerTable">
            <div class="d-flex text-white bg-black Flipped customers-right-header">
              <strong class="m-3 text-center customer-table-column">{{Translate('Name')}}</strong>
              <strong class="m-3 text-center customer-table-column">{{Translate('Credit Limit')}}</strong>
              <strong class="m-3 text-center customer-table-column">{{Translate('Wager Limit')}}</strong>
              <strong class="m-3 text-center customer-table-column" style="width:150px">{{Translate('Password')}}</strong>
              <strong class="m-3 text-center customer-table-column">{{Translate('Pending')}}</strong>
              <strong class="m-3 text-center customer-table-column">{{Translate('Balance')}}</strong>
			   <strong class="m-3 text-center customer-table-column">{{Translate('Free Play Balance')}}</strong>
              <strong class="m-3 text-center customer-table-column">{{Translate('Account Active')}}</strong>
              <strong class="m-3 text-center customer-table-column">{{Translate('Casino Access')}}</strong>
              <strong class="m-3 text-center customer-table-column">{{Translate('Horses Access')}}</strong>
            </div>
          </div>
          <div style="overflow-x: scroll; overflow-y: hidden" class="syncscroll bg-black hide-scroll" name="customerTable">
            <div ng-repeat-start="cL in tableData track by $index" class="d-flex justify-content-center bg-black text-white" style="height: 60px" ng-show="cL.isTitle">
<b class="align-self-center text-white" ng-bind="cL.Hierarchy.substring(2)"></b>
            </div>
            <div style="width: fit-content" class="d-flex" ng-class="{'even' : $index % 2 == 0, 'odd' : $index % 2 != 0}" ng-repeat-end>
              <span class="m-3 text-center customer-table-column">{{cL.NameFirst + ' ' + cL.NameLast}}</span>

              <input class="m-3 customer-table-column" ng-change="UpdateCustomerOffering(tableData[$index], $index)" ng-disabled="AgentInfo.ChangeWagerLimitFlag != 'Y'" ng-show="!IsMobile" type="text" ng-model="tableData[$index].CreditLimitInput">
              <span ng-show="IsMobile" class="text-info m-3 text-center customer-table-column" ng-bind="tableData[$index].CreditLimit | formatNumber" ng-click="ShowEditDialog('Credit Limit', $index)"></span>

              <input class="m-3 customer-table-column" ng-change="UpdateCustomerOffering(tableData[$index], $index)" ng-disabled="AgentInfo.ChangeWagerLimitFlag != 'Y'" ng-show="!IsMobile" type="number" ng-model="tableData[$index].WagerLimitInput">
              <span ng-show="IsMobile" class="text-info m-3 text-center customer-table-column" ng-bind="tableData[$index].WagerLimit | formatNumber" ng-click="ShowEditDialog('Wager Limit', $index)"></span>

              <input class="m-3 customer-table-column" ng-change="UpdateCustomerInfo(tableData[$index], $index)" ng-disabled="AgentInfo.EnableEditAccountsFlag != 'Y'" ng-show="!IsMobile" type="text" ng-model="tableData[$index].password" style="width:150px">
              <span ng-show="IsMobile" class="text-info m-3 text-center customer-table-column" id="spanPassword_$index" ng-click="ShowEditDialog('Password', $index)" ng-bind="tableData[$index].password"></span>

              <span ng-if="cL.PendingWagerBalance == 0" class="text-center m-3 customer-table-column">{{cL.PendingWagerBalance | formatNumber}}</span>
              <a href="#" onclick="return false;" class="customer-table-link m-3 text-center customer-table-column" ng-if="cL.PendingWagerBalance != 0" ng-click="ShowCustomerDialog(tableData[$index], 4, cL.CustomerId)" ng-disabled="cL.PendingWagerBalance == 0">{{cL.PendingWagerBalance | formatNumber}}</a>

              <span class="{{cL.CurrentBalance < 0 ? 'num_neg' : cL.CurrentBalance > 0 ? 'num_pos' : ''}} m-3 text-center customer-table-column">{{cL.CurrentBalance | formatNumber}}</span>
			  
			  <span class="text-info m-3 text-center customer-table-column" ng-bind="tableData[$index].FreePlayBalance | formatNumber"></span>

              <div class="restrictions p-0 m-3 customer-table-column"
                   ng-class="{'rest_disable' : !SuspendWagering }">
                <input type="checkbox" id="WAGERING_{{$index}}" ng-model="tableData[$index].WageringActive"
                       ng-click="UpdateCustomerAccess(cL.CustomerId, $event, tableData[$index].WageringActive, 'Suspend Wagering', 'Wagering')"
                       ng-disabled="!SuspendWagering">
                <label for="WAGERING_{{$index}}"></label>
              </div>

              <div class="restrictions p-0 m-3 customer-table-column"
                   ng-class="{'rest_disable' : !SuspendWagering}">
                <input type="checkbox" id="VCASINO_{{$index}}" ng-model="tableData[$index].VirtualCasinoActive"
                       ng-click="UpdateCustomerAccess(cL.CustomerId, $event, tableData[$index].VirtualCasinoActive, 'Suspend Casino', 'VirtualCasinoActive')"
                       ng-disabled="!SuspendWagering">
                <label for="VCASINO_{{$index}}"></label>
              </div>

              <div class="restrictions p-0 m-3 customer-table-column"
                   ng-class="{'rest_disable' : !SuspendWagering}">
                <input type="checkbox" id="HORSES_{{$index}}" ng-model="tableData[$index].HorsesActive"
                       ng-click="UpdateCustomerAccess(cL.CustomerId, $event, tableData[$index].HorsesActive, 'Suspend Horses', 'HorsesActive')"
                       ng-disabled="!SuspendWagering">
                <label for="HORSES_{{$index}}"></label>
              </div>

            </div>
          </div>
        </div>
      </div>
      <h2 ng-if="LoadingReportData">{{Translate('Loading more...')}}</h2>
      <div class="d-flex justify-content-center">
        <button class="btn btn-default m-3" ng-bind="Translate('Load More')" ng-click="loadData()"></button>
      </div>




      <!-- Modal -->
      <div class="modal fade printable" id="ModalCust_req">
        <div class="modal-dialog">

          <div class="modal-content">

            <!-- Modal DISABLE ALL -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h1 class="modal-title">{{Translate('Customer Settings')}}</h1>
            </div>
            <div ng-if="ReportFilters.CustomerStatus != 'X'">
              <div class="modal-body">
                <h3>{{Translate('Change accounts status disable')}}</h3>
                <br />
                <p>{{Translate('Change the filter to -ALL- to change staus')}}</p>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                  {{Translate('OK')}}
                </button>
              </div>
            </div>
            <div ng-if="ReportFilters.CustomerStatus == 'X'">
              <div class="modal-body">
                <h3>{{Translate('Disable All Accounts')}}</h3>
                <br />
                <p>
                  {{Translate('Do you want to')}} {{Status}} {{Translate('all accounts for')}}
                  {{RestricionName}}
                </p>
              </div>
              <div class="modal-footer">
                <confirm ng-if="Status == 'disable'">

                  <button type="button" class="btn btn-default" data-dismiss="mosdal">
                    {{Translate('No')}}
                  </button>
                  <button type="button" class="btn btn-primary"
                          ng-click="UpdateAllCustomersAccess(false)" data-dismiss="modal">
                    {{Translate('Yes')}}
                  </button>
                </confirm>
                <confirm ng-if="Status == 'enable'">
                  <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{Translate('No')}}
                  </button>
                  <button type="button" class="btn btn-primary"
                          ng-click="UpdateAllCustomersAccess(false)" data-dismiss="modal">
                    {{Status}}
                    {{Translate('all accounts')}}
                  </button>
                  <button type="button" class="btn btn-primary"
                          ng-click="UpdateAllCustomersAccess(true)" data-dismiss="modal">
                    {{Translate('previous state')}}
                  </button>
                </confirm>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" ng-class="ModalClass" id="editDialog" role="dialog"
     data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content scroll-vertical">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title" ng-bind="Translate('Edit Customer')"></h1>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
            <span ng-bind="fieldToChange"></span>
          </div>
          <div class="col-xs-4">
            <input ng-if="fieldToChange == 'Password'" type="text" class="w-100" ng-model="selectedCustomer.password" ng-disabled="AgentInfo.ChangeWagerLimitFlag != 'Y'" ng-change="UpdateCustomerInfo(selectedCustomer, scIndex)">
            <input ng-if="fieldToChange == 'Wager Limit'" type="number" class="w-100" ng-model="selectedCustomer.WagerLimitInput" ng-disabled="AgentInfo.ChangeWagerLimitFlag != 'Y'" ng-change="UpdateCustomerOffering(selectedCustomer, scIndex)">
            <input ng-if="fieldToChange == 'Credit Limit'" type="number" class="w-100" ng-model="selectedCustomer.CreditLimitInput" ng-disabled="AgentInfo.ChangeWagerLimitFlag != 'Y'" ng-change="UpdateCustomerOffering(selectedCustomer, scIndex)">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          {{Translate('OK')}}
        </button>
      </div>
    </div>
  </div>
</div>