<div class="dashbwrapper">
    <div class="allscrll chat-bottom-spacer">
        <div class="row pt-3 pl-3 title-divider">
            <div class="d-flex align-items-center">
                <a ng-click="toggleBookmark('Performance','#/performance')" class="bookmark" ng-class="{'bookmark-disabled':getBookmarkIndex('Performance') == -1}" href=""><span class="fa fa-bookmark"></span></a>
                &nbsp;<h3>{{Translate('Performance')}} <span class="visible-print">{{Translate('for')}} {{AgentAsCustomerInfo.CustomerID | FormatCustomer}}</span></h3>
            </div>
        </div>
        <!--  <performancecolumns version="'full'" mode="dual" all-agents-list="AllAgentsList" ng-if="AllAgentsList.length > 0" is-mobile="IsMobile"></performancecolumns>-->
         <performance version="'full'" mode="dual" all-agents-list="AllAgentsList" ng-if="AllAgentsList.length > 0" is-mobile="IsMobile"></performance>
    </div>
    </div>
    <a href="performanceView.html">performanceView.html</a>